---
- name: Check if MySQL is already installed.
  stat: path=/etc/init.d/mysql
  register: mysql_installed


- name: Install mysql-common-common
  apt: "name=mysql-common=5.5.62-0+deb8u1 state=installed force=yes force_apt_get=yes"


- name: Install Maria-common
  apt: "name=mariadb-common=10.0.38-0+deb8u1 state=installed force=yes force_apt_get=yes"

- name: Install Maria-client
  apt: "name=mysql-client-5.5 state=installed force=yes force_apt_get=yes"

  
- name: Install MySQL-server
  apt: "name=mysql-server-5.5 state=installed force=yes force_apt_get=yes"


- name: Ensure MySQL Python libraries are installed.
  apt: "name=python-mysqldb state=installed"

- name: Ensure MySQL packages are installed.
  apt: "name={{ item }} state=installed"
  with_items: "{{ mysql_packages }}"
  register: deb_mysql_install_packages

# Because Ubuntu starts MySQL as part of the install process, we need to stop
# mysql and remove the logfiles in case the user set a custom log file size.
- name: Ensure MySQL is stopped after initial install.
  service: "name={{ mysql_daemon }} state=stopped"
  when: mysql_installed.stat.exists == false

- name: Delete innodb log files created by apt package after initial install.
  file: path={{ mysql_datadir }}/{{item}} state=absent
  with_items:
          - "ib_logfile0"
          - "ib_logfile1"
  when: mysql_installed.stat.exists == false
